{
  "project_info": {
    "project_number": "191949056172",
    "project_id": "renomada-b1951",
    "storage_bucket": "renomada-b1951.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:191949056172:android:a7301c68608d138b79d709",
        "android_client_info": {
          "package_name": "com.example.renomada"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "PASTE_ANDROID_API_KEY_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
